@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.desc {
  margin-top: 10px;
  text-align: center;
  width: 90%;
  @include responsive(lg) {
    margin: 10px 0 30px 0;
  }
}

.kg-groups {
  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.schedule-kg {
  display: flex !important;
  justify-content: center !important;
  @include responsive(lg) {
    width: 90% !important;

  }
}

.coor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .coor-title {
    display: flex;

    .coor-name {
      color: $color-accent-red;
    }
  }
}