@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  
    .contact-form {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.2em;
      padding-top: 2em;
      gap: 1em;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0.1, 0.1);
      background-color: $color-dark-primary-semi-transparent;
  
      .form-field {
        display: flex;
        flex-direction: column;
        color: red !important;
  
        .form-label {
          margin-bottom: 0.1em;
          align-self: flex-start;
          font-family: $font-paragraph-light;
          font-size: $text-lg;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
          color: $color-font-light;
        }
  
        .form-input,
        .form-textarea {
          width: 20em;
          padding: 5px;
          font-size: $text-sm;
          background-color: transparent;
          color: $color-font-light;
          border: none;
          border-bottom: 2px solid $color-light-primary;
          // transition: border-color 0.2s ease-in-out;
          outline: none;
          &:focus {
            border-bottom-color: $color-accent-red;
          }
        }
  
        input:-webkit-autofill,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:focus {
          -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: $color-font-light;
          font-size: $text-sm;
        }
  
        .form-textarea {
          resize: vertical;
          height: 2em;
        }
      }
    }
  
    .button {
      margin-top: 20px;
    }
  }