@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;


.form-container {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: $color-dark-primary;
  min-width: fit-content;
  position: relative;

  .p-message {
    margin: 1rem 0;
    border-radius: 6px;
    width: 25rem;
    height: 4rem;

    &-error {
      background: rgba($color-accent-red, 0.3);
      border: solid $color-accent-red;
      border-width: 0 0 0 6px;
      color: $color-accent-red;

      .p-message-icon {
        color: $color-accent-red;
      }

      .p-message-close {
        color: $color-accent-red;
      }
    }

    .p-message-wrapper {
      padding: 1.25rem 1rem;
    }

    .p-message-icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    .p-message-detail {
      margin-left: 0.5rem;
    }

    .p-message-close.p-link {
      margin-left: auto;
      overflow: hidden;
      position: relative;
    }

    .p-message-close {
      width: 2rem;
      height: 1rem;
      border-radius: 50%;
      background: transparent;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg.p-icon {
      pointer-events: auto;
    }
  }

  @include responsive(sm) {
    width: fit-content;
    height: auto;
    margin-top: 1em;
  }

  @include responsive(mg-lg) {
    margin-top: 0;
  }

  .form-contact {
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;

    @media (min-width: 600px) {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em 3em;
      align-items: flex-end;
      padding: 0 2em 0 2em;
    }

    @include responsive(lg) {
      gap: 1em 3em;
    }

    @include responsive(2xl) {
      gap: 2em 7em;
    }

    .form-field {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 0.5rem;

      .form-label {
        margin-top: 0.2em;
        margin-bottom: 0;

        @include responsive(sm) {
          font-size: $text-base;
        }

        @media (min-width: 600px) {
          font-size: $text-lg;
          margin-top: 0;
        }

        @include responsive(lg) {
          font-size: $text-lg;
        }

        @media (min-width: 1700px) {
          font-size: $text-xl;
        }

        align-self: flex-start;
        font-family: $font-paragraph-light;
        font-size: $text-base;
        color: $color-font-light;
      }

      .form-input,
      .form-textarea {
        width: 20em;
        padding: 2px;
        font-size: $text-base;
        background-color: transparent;
        color: $color-font-light;
        border: none;
        border-bottom: 2px solid $color-light-primary;
        outline: none;
        opacity: 0.8;
        margin-bottom: 1.2em;

        &:focus {
          border-bottom-color: $color-accent-red;
        }

        @media (min-width: 600px) {
          width: 16em;
          margin-bottom: 0;
        }

        @include responsive(md-lg) {
          width: 18em;
          margin-bottom: 0;
        }

        @include responsive(lg) {
          width: 16em;
          margin-bottom: 1em;
        }

        @include responsive(xl) {
          width: 15em;
        }

        @media (min-width: 1700px) {
          font-size: $text-lg;
          width: 18em;
        }
      }

      .form-textarea {
        resize: vertical;
        height: 8cqmin;

        @include responsive(md) {
          height: 3cqmin;
        }

        &::-webkit-scrollbar {
          width: 8px !important;
        }

        &::-webkit-scrollbar-track {
          background: $color-light-primary;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-dark-primary-semi-transparent;
          border-radius: 15px;
          transition: background-color 0.3s ease;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: rgb($color-dark-primary, 0.6);
        }

        &::-webkit-scrollbar-thumb:active {
          background-color: rgb($color-dark-primary, 0.7);
        }
      }

      .form-error {
        position: absolute;
        top: 100%;
        left: 0;
        bottom: -0.1em;
        transform: translateY(0.2em);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.63);
        align-self: flex-start;
        font-family: $font-paragraph-light;
        font-size: $text-sm;
        color: rgba($color-font-light, 0.7);

        @media(min-width: 600px) {
          margin-bottom: -1.5rem;
        }

        @include responsive(md-lg) {
          transform: translateY(1.8em);
          bottom: 0;
          margin-bottom: 0;
        }

        @include responsive(lg) {
          transform: translateY(0.5em);
        }

        @include responsive(xl) {
          font-size: $text-sm;
        }

        @media (min-width: 1700px) {
          font-size: $text-base;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px #00000000 inset;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $color-font-light;
        font-size: $text-sm;
      }
    }
  }

  .p-message {
    border-radius: 6px;
    width: 20rem;
    height: 4rem;
    position: absolute;
    z-index: 10;
    bottom: -23%;
    left: 50%;
    transform: translateX(-50%);

    @include responsive(sm) {
      width: 20rem;
      height: 4rem;
      left: calc(32vw - 5rem);
      transform: none;
    }

    @media (min-width: 600px) {
      width: 20rem;
      height: 4rem;
      left: calc(50vw - 2rem);
      bottom: -45%;
      max-width: 90%;
    }

    @include responsive(md) {
      width: 20rem;
      height: 4rem;
      left: calc(50vw - 2rem);
      bottom: -45%;
    }

    @include responsive(md-lg) {
      width: 20rem;
      height: 4rem;
      left: calc(43vw - 3rem);
      bottom: -50%;
    }

    @include responsive(lg) {
      width: 22rem;
      height: 4rem;
      left: calc(35vw - 5rem);
      bottom: -40%;
    }

    @include responsive(xl) {
      width: 24rem;
      height: 4rem;
      left: calc(30vw - 6rem);
      bottom: -50%;
    }

    @include responsive(2xl) {
      width: 25rem;
      height: 4rem;
      left: 70%;
      bottom: -40%;
    }

    @media (min-width: 2000px) {
      bottom: -40%;
      left: calc(33vw - 5rem);
    }

    @media (min-width: 3000px) {
      bottom: -30%;
      left: calc(30vw - 5rem);
    }

    @media (min-width: 5000px) {
      bottom: -30%;
      left: calc(29vw - 5rem);
    }

    &-error {
      background: rgba($color-accent-red, 0.25);
      border: solid $color-accent-red;
      border-width: 0 0 0 8px;
      color: #c51010;
      opacity: 1;

      .p-message-icon {
        color: #c51010;
        opacity: 0.9;
      }

      .p-message-close {
        color: #c51010;
        opacity: 0.7;
      }

      .p-message-close:hover {
        opacity: 1;
      }
    }

    &-success {
      background: rgba(25, 116, 80, 0.3);
      border: solid #1ea97c;
      border-width: 0 0 0 8px;
      color: #1ea97c;
      opacity: 1;

      .p-message-icon {
        color: #1ea97c;
        opacity: 0.9;
      }

      .p-message-close {
        color: #1ea97c;
        opacity: 0.7;
      }

      .p-message-close:hover {
        color: #1ea97c;
        opacity: 1;
      }
    }

    .p-message-wrapper {
      padding: 1.25rem 1rem;
    }

    .p-message-icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .p-message-detail {
      margin-left: 0.5rem;
    }

    .p-message-close.p-link {
      margin-left: auto;
      overflow: hidden;
      position: relative;
    }

    .p-message-close {
      width: 2rem;
      height: 1rem;
      border-radius: 50%;
      background: transparent;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg.p-icon {
      pointer-events: auto;
    }
  }

  .button {
    justify-self: center;
    margin-top: 1em;

    @media (min-width: 600px) {
      justify-self: flex-end;
      margin-top: 2em;
      width: 7rem;
      font-size: $text-base;
      min-width: 0;
    }

    @include responsive(md) {
      width: 7rem;
      font-size: $text-lg;
      max-width: none;
    }

    @include responsive(md-lg) {
      width: 6rem;
      font-size: $text-base;
      margin-top: 1.2em;
    }

    @include responsive(lg) {
      width: 8rem;
      font-size: $text-lg;
      margin-bottom: 1em;
      margin-top: 1em;
    }

    @include responsive(xl) {
      width: 8rem;
      font-size: $text-lg;
      max-width: none;
      margin-top: 1.5em;
    }

    @include responsive(2xl) {
      width: 10rem;
      font-size: $text-xl;
      max-width: none;
    }
  }
}
