@use "./_variables.scss" as v;

.button {
  font-family: v.$font-paragraph-bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: $color-accent-red;
  cursor: pointer;
  text-decoration: none;
  font-size: $text-xl;
  color: $color-light-primary;

  &:hover {
    background-color: adjust-color($color-accent-red, $lightness: -15%);
  }

  &__transparent {
    font-family: v.$font-paragraph-bold;
    letter-spacing: 1px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 7px 27px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: $text-xl;
    color: $color-accent-red;
    border: 2.5px solid $color-accent-red;

    &:hover {
      background-color: $color-accent-red;
      color: $color-light-primary;
    }
  }
}

.title-design {
  color: $color-font-dark;
  font-family: v.$font-title-bold;
  display: flex;
  letter-spacing: 40px;

  .gray {
    opacity: 0.7;
  }
}