@use "../styles/fonts/fonts.css";

//Colors
$color-dark-primary: #161616;
$color-light-primary: #f9f9f9;
$color-light-grey-primary: #e3dfdf;
$color-accent-red: #870000;
$color-font-dark: #1d1e21;
$color-font-light: #dadada;
$shadow-color: rgb(204, 199, 199);
$outline-input-field: #acacac;
$color-dark-primary-semi-transparent: #16161654;

//Fonts
$font-title-strong: "Helvetica Compressed", sans-serif;
$font-title-regular: "Helvetica", sans-serif;
$font-title-bold: "Helvetica Bold", sans-serif;
$font-title-marcellus: "Marcellus SC Regular", sans-serif;
$font-paragraph-regular: "Kanit Regular", sans-serif;
$font-paragraph-regular-italic: "Kanit Italic", sans-serif;
$font-paragraph-light: "Kanit Light", sans-serif;
$font-paragraph-light-italic: "Kanit Light Italic", sans-serif;
$font-paragraph-medium: "Kanit Medium", sans-serif;
$font-paragraph-medium-italic: "Kanit Medium Italic", sans-serif;
$font-paragraph-bold: "Kanit Bold", sans-serif;

// Font size
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

// Media queries
$screen-sm: 500px;
$screen-md: 768px;
$screen-md-lg: 900px; 
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1450px;
