@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.schedules-and-locations {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-direction: column;
  @include responsive(lg) {
    margin: 50px 0;
  }


  .location-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    column-gap: 70px;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(227, 233, 233, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),
    0 6px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    flex-direction: column;
    @include responsive(lg) {
      width: 80%;
      margin: 50px 0;
      flex-direction: row;
      padding: 30px 60px;
      column-gap: 50px;
    }
    @include responsive(xl) {
      column-gap: 70px;
    }

    .hidden {
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip-path: inset(50%);
      white-space: nowrap;
      @include responsive(lg) {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        clip-path: none;
        white-space: normal;
      }
    }

    .map-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        margin-bottom: 10px;
        margin-top: 30px;
        font-family: $font-paragraph-medium;
        @include responsive(lg) {
          margin-top: 0;
        }
      }

      @include responsive(lg) {
        width: 80%;
      }

      .map {
        width: 90%;
        height: 200px;
        border-radius: 2px;
        border: none;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),
        0 6px 10px rgba(0, 0, 0, 0.15);
        margin: 10px 0;
        @include responsive(md) {
          height: 300px;
        }
        @include responsive(lg) {
          width: 100%;
          height: 400px;
          margin: 0;
        }
      }
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid $color-accent-red;
  opacity: 0.7;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

