@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.topNavigation {
  position: relative;
  width: 100%;
  height: 100%;
}

.topNavigationContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $color-dark-primary;
  opacity: 0.5;
  position: relative;
  z-index: 1000;
  height: 100%;
}

.hamburgerWrapper {
  position: relative;
  z-index: 1001;
}

.topNavigationListContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-dark-primary;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;

  &.active {
    transform: translateX(0);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: $color-font-light;
        font-size: $text-4xl;
        transition: color 0.3s ease;

        &:hover,
        &:focus {
          color: $color-light-primary;
        }

        &.activeLink {
          color: $color-light-primary;
        }
      }
    }
  }
}

@include responsive(md) {
  .hamburgerWrapper {
    display: none;
  }

  .topNavigationListContainer {
    position: static;
    transform: none;
    background-color: transparent;
    height: auto;
    z-index: auto;

    ul {
      flex-direction: row;

      li {
        margin: 0 1rem;

        a {
          font-size: $text-base;
        }
      }
    }
  }
}
