@use "../../styles/mixins" as m;

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .karatedo-img {
    overflow-x: hidden;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0.2;
    top: 150%;
    left: 75%;
    scale: 4;
    @include m.responsive(sm) {
      top: 150%;
      left: 35%;
      scale: 5;
    }
    @include m.responsive(xl) {
      top: 160%;
      left: 35%;
      scale: 6;
    }
    @include m.responsive(2xl) {
      top: 170%;
      left: 20%;
      scale: 7;
    }

  }
}