@use "../../styles/mixins" as *;

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  margin: 0;

  @include responsive(sm) {
    margin: 50px 50px;
    column-gap: 50px;
  }
  @include responsive(lg) {
    margin: 50px 75px;
    column-gap: 50px;
  }
  @include responsive(xl) {
    margin: 50px 100px;
    column-gap: 75px;
  }
  @include responsive(2xl) {
    margin: 50px 230px;
    column-gap: 75px;
  }
}
