@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.herobannerv2-container {
  width: 100%;
  overflow: hidden;
  height: 25vh;
  @include responsive(sm) {
    height: 30vh;
  }
  @include responsive(md) {
    height: 35vh;
  }
  @include responsive(lg) {
    height: 40vh;
  }
  @include responsive(xl) {
    height: 45vh;
  }

  .herobannerv2 {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      filter: blur(4px) grayscale(80%);
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25vh;
      background-color: rgba(0, 0, 0, 0.7);

      @include responsive(sm) {
        height: 30vh;
      }
      @include responsive(md) {
        height: 35vh;
      }
      @include responsive(lg) {
        height: 40vh;
      }
      @include responsive(xl) {
        height: 45vh;
      }

      .content {
        position: absolute;
        top: 55%;
        left: 51vw;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include responsive(md) {
          top: 60%;
        }
        @include responsive(xl) {
          left: 35vw;
        }
        @include responsive(2xl) {
          left: 27vw;
        }

        h1 {
          font-size: $text-3xl;
          font-family: $font-paragraph-bold;
          color: #e3dfdf;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          margin-bottom: 30px;
          letter-spacing: 5px;
          @include responsive(sm) {
            font-size: $text-3xl;
            letter-spacing: 12px;
          }
          @include responsive(lg) {
            font-size: $text-4xl;
          }
          @include responsive(xl) {
            font-size: $text-6xl;
          }
          @include responsive(2xl) {
            font-size: $text-7xl;
          }

          .gray {
            color: $color-light-primary;
            opacity: 0.4;
          }
        }

        .button-herobanner {
          margin-top: 20px !important;
          @include responsive(2xl) {
            letter-spacing: 4px;
            padding: 10px 40px;
          }
        }
      }
    }
  }
}
