@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.herobannerv2-container {
  width: 100%;
  height: 40vh;
  overflow: hidden;

  .herobannerv2 {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      filter: blur(4px) grayscale(50%);
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: rgba(0, 0, 0, 0.7);

      .content {
        position: absolute;
        top: 45%;
        left: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include responsive(sm) {
          align-items: flex-start;
          text-align: left;
          left: 40%;
        }
        @include responsive(md) {
          left: 30%;
        }
        @include responsive(xl) {
          left: 10%;
        }

        h1 {
          font-size: $text-2xl;
          font-family: $font-paragraph-bold;
          color: #e3dfdf;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          margin-bottom: 30px;
          letter-spacing: 5px;
          @include responsive(sm) {
            font-size: $text-3xl;
            letter-spacing: 12px;
          }
          @include responsive(lg) {
            font-size: $text-4xl;
          }
          @include responsive(xl) {
            font-size: $text-6xl;
          }
        }

        .club-name {
          font-family: $font-title-marcellus;
          font-size: $text-6xl;
          color: $color-accent-red;
          text-shadow: 4px 4px 10px rgba(16, 16, 16, 0.7);
          @include responsive(sm) {
            font-size: $text-7xl;
          }
          @include responsive(md) {
            font-size: $text-7xl;
          }
          @include responsive(lg) {
            font-size: $text-8xl;
          }
          @include responsive(xl) {
            font-size: $text-9xl;
          }
          @include responsive(2xl) {
            font-size: 13rem;
          }
        }

        .button-herobanner {
          margin-top: 20px !important;
          @include responsive(2xl) {
            letter-spacing: 4px;
            padding: 10px 40px;
          }
        }
      }
    }
  }
}
