@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.split-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: $color-dark-primary;
  color: $color-font-light;
  img {
    width: 50%;
    height: 50%;
  }
  .inner-content {
    margin: 50px;
  }
  .button-split {
    margin: 50px 0 0 0;
    &hover {
      color: $color-font-dark !important;
    }
  }
  h3 {
    font-size: $text-6xl;
  }
}
.image-right {
  img {
    order: 2;
  }
}
